/* web fonts */

/* base styles */

.header {
    background-color:  #004C54;
    border: solid 3px #000000;
    padding: 12px 12px;
}

main {
  background-color: #ACC0C6;
}

.title {
    border-left:solid 6px #A5ACAF;
 
}

h1 {
  color: #ACC0C6;
}

.rows:nth-child(1){
  background-color: #046A38;
}

.rows:nth-child(2){
  background-color: #8A8D8F;;
}

.rows:nth-child(3){
  background-color: #FFCD00;;
}
/* media querries */